@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html {
    background-color: #161616;
    font-family: 'Source Code Pro', monospace;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows:  auto auto auto auto;
    background-color: #161616;
    outline-color: white;
    outline-width: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 2px solid white;
    margin: 20px;
}

h1 { 
    display: block;
    color: white;
    font-size: 360%;
    grid-row: 0/1;
    grid-column: 1/8;
    margin: 0px 20px;
    border: 1px solid white;
    background-color: #363636;
    
    
    
}

p {
     display: block;
    margin-top: 10px;
    margin: 10px;
    grid-row: 1/2;
    grid-column: 1/4;
    color: white;
    background-color: #363636;
    border: 1px solid white;
}

button {
    display: grid;
    grid-row: 2/3;
    grid-column: 3/4; 
}


ul {
 
    height: auto;
    padding: 0px 100px;
    border: 1px solid white;
    background-color: #363636;
    
    
}

ul li {
    
    background-color: #7a7a7a;
    border-color: whitesmoke;
    height: 40px; 
    font-size: 90%;
}

ul li:hover {
    color: white;
    
    
}

a {
    color: white;
}
#text {
    color: white;
}
#slider {
    width: 50%;
    height: 50%;
}