@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html {
    background-color: #161616;
    font-family: 'Source Code Pro', monospace;
}
* {
    margin: 2px;
    padding: 7px;
    font-style: normal;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #363636;
    outline-color: white;
    outline-width: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 100px;
    width: 1401px;
    border: 2px solid white;
    
    
    

}

    

h1 { 
    color: white;
    font-size: 360%;
    grid-row: 1/1;
    grid-column: 1/6;
    padding-bottom: 100px;
    
    
}

.left {
    display: block;
    margin: 20px;
    grid-column: 1/4;
    grid-row: 2/3;
    color: white;
    background-color: #363636;
    border: 1px solid white;

    
}

.middile {
    
   
    grid-column: 4/7;
    grid-row: 2/3;
    display: block;
    margin: 20px;
    color: white;
    background-color: #363636;
    border: 1px solid white;
    
    
    
}

.section {
    
    display: block;
    margin: 20px;
    color: white;
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: #363636;
    border: 1px solid white
    
}
img {
    margin: 10px;
    padding: 10px;
    shape-image-threshold: 100px;

    
}

ul li {
    background-color: #7a7a7a;
    border-color: whitesmoke;
    grid-column: 3/4;
    height: 15px; 
}

ul li:hover {
    color: white;
    
}

a {
    color: white;
}

        
